<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            margin:1pc;
            padding:1pc;
        }
        body{

        }
        #container{
            border-radius:6px;
            box-shadow:3px 3px 3px rgba(0, 0, 0, 0.1);
            background:linear-gradient(47deg, white 45%, whitesmoke 55%);
        }
    </style>
    <title>cors policy&reg;</title>
</head>
<body>
    <div id="container"></div>
    
    <script>
      let doc = document

      let container = doc.getElementById('container')

       function loadData(){
            const url = 'http://192.168.100.20:3000/'
            const config = {
                method:'GET'
            }

            fetch(url,config)
                    .then(response => response.json())
                    .then(response=>{
                        response.map(e=>{
                            let idBk = e.id
                            let idUl = doc.createElement('ul')
                            idUl.style.color = 'rgba(0,0,0,0.5)'
                            idUl.style.background = 'rgba(0,0,0,0.2)'
                            idUl.append(idBk)
                            container.append(idUl)

                            let usernameBk = e.username
                            let usernameUl = doc.createElement('ul')
                            usernameUl.style.color = 'rgba(0,0,0,0.5)'
                            usernameUl.style.background = 'rgba(0,0,0,0.2)'
                            usernameUl.append(usernameBk)
                            container.append(usernameUl)

                            let emailBk = e.email
                            let emailUl = doc.createElement('ul')
                            emailUl.style.color = 'darkred'
                            emailUl.style.background = 'rgba(0,0,0,0.2)'
                            emailUl.append(emailBk)
                            container.append(emailUl)

                            let line = doc.createElement('br')
                            container.append(line)
                        })
                    })
                    .catch(err => console.log(err))
       }
       loadData()
    </script>
</body>
</html>